body {
   background: linear-gradient(120deg, #298069, #8e44ad);
   margin: 0;
   padding: 0;
   font-family: Lexend Deca;
   height: 100vh;
   overflow: hidden;
 }
 .center {
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
 
   border-radius: 10px;
 }
 .center h1 {
   text-align: center;
   padding: 0 0 20px 0;
   border-bottom: 1px solid silver;
 }
 .center form {
   padding: 0 40px;
   box-sizing: border-box;
 }
 form .txt_field {
   position: relative;
   border-bottom: 2px solid #adadad;
   margin: 30px 0;
 }
 .txt_field input {
   width: 100;
   padding: 0 5px;
   height: 40px;
   font-size: 16px;
   border: none;
   background: none;
   outline: none;
 }
 .signup_link {
   color: white;
 }
 .signup_link a {
   color: white;
   text-decoration: none;
 }
 input[type="submit"] {
   font-size: 24px;
   font-style: bold;
   border-radius: 50px;
   background-color: antiquewhite;
   cursor: pointer;
   transition: 0.5s;
 }
 input[type="submit"]:hover {
   transform: translateY(-5px);
   color: white;
   background: rgba(0, 0, 0, 0.596);
 } 
