{% extends 'layout.html' %}

{% block body %}
<style>
.zoom {
  padding: 50px;
  /* background-color: green; */
  transition: transform .2s; /* Animation */
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>

<br>
<br>
<div class="text-center">
<br>
<h1>Choose A Game To Find Friends Playing</h1>
<a href="../csgo"><img class="zoom" style="display: inline; margin-left: auto; margin-right: auto; width: 30%;" src="{{url_for('static',filename = 'graphics/csgo.jpg')}}" alt=""></a>
<a href="../valorant"><img class="zoom" style="display: inline; margin-left: auto; margin-right: auto; width: 28%;" src="{{url_for('static',filename = 'graphics/valorant.png')}}" alt=""></a>
<br>
<!-- <a href="../csgo" style="display: inline;"><h1 style="display: inline;">CS:GO</h1></a>
<a href="../valorant" style="display: inline;"><h1 style="display: inline;">Valorant</h1></a> -->
</div>
{% endblock %}